**
!Dockerfile
!frontend/
!frontend/**
frontend/node_modules/
frontend/src/assets/plantas/originais/
!api.php
!api_common.php
!conexao.php
!dispositivo.php
!api_hardware.php
!api_acao.php
!api_salas.php
!api_logs.php
!index.html
!app/
!app/**
!bin/
!bin/**
!sql/
!sql/**
!config/
!config/config.docker.php
!docker/
!docker/**
